main .container {
    margin-top: 90px;
}

.users {
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
}

.icon {
    height: 80px;
    margin: 15px;
    border-radius: 20%;
}

.card .col-md-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 15px;
}

.card-title {
    margin-bottom: 0px;
}