main .container {
    margin-top: 90px;
}

.blocks {
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
}

.block {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.link {
    color: black;
}

.link:hover {
    color: black;
}