footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

footer .text-muted {
    margin: 20px 0;
}

.fadein {
	opacity: 0.3;
	transform: translate(0,50px);
	transition: all 500ms;
}

.scrollin {
	opacity: 1;
	transform: translate(0,0);
}