.top {
    margin-top: 230px;
    margin-left: 10%;
    margin-right: 10%;
}

.link {
    padding-left: 50px;
    padding-right: 50px;
}

.content {
    margin-top: 40%;
    margin-left: 15%;
    margin-right: 15%;
}

.icon {
    height: 80px;
    margin: 15px
}

.row > * {
    padding: 0;
}

.card .col-md-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 10px;
}

.card-title {
    margin-bottom: 0px;
}