main .container {
    margin-top: 90px;
}

.links {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.link {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.icon {
    width: 100px;
    margin: 15px
}